


p {
  color : #dadbe8;
}

body {
  background-color : #070a25;
  
  color : #dadbe8;
  
  font-family: "Garmond";
  text-indent: 1px;
  font-size: 10px;
  background-image: url(https://sl3ep.neocities.org/Images/Background1.jpg) ;
  }

ul {
  letter-spacing: 1px;
  word-spacing: 2px;
}

h1{
  text-align:center;
  font-size: 60px;
}


/*h2{
  padding:10px;
  
}*/
/* Start of Everything layout Grid*/
.EVERYTHINGgrid{
  height: 2000px;
  display: grid;
  grid-template-columns: 200px 1fr 1fr 1fr ;
  grid-template-rows: 200px 1fr 1fr 1fr 1fr ;
  /*grid-auto-columns: 300px;
  grid-auto-rows: 300px*/
  gap: 15px;

  grid-template-areas:
  "box-1 box-2 box-2 box-2"
  "box-1 box-3 box-3 box-3"
  "box-1 box-3 box-3 box-3"
  "box-1 box-3 box-3 box-3"
  "box-5 box-5 box-5 box-5"
  "box-6 box-6 box-6 box-6";
}

.EVERYTHINGgrid div{
  
  padding: 7px;
  font-size: 20px;
  color: #dadbe8;
  text-align: center; 
  
  width: 85%;

}


/* End of everything layout grid*/

.Basic1 {
  margin: auto;
  border-style: solid;
  border-width: 100px;
  border-image: url(https://sl3ep.neocities.org/Images/divBorder3.png) 800 repeat;
  border-image-outset: 12px;
  border-image-slice: 17%;;
  
  background-color: #090f36;
  font-size: 15px;

}
.sideBar{
  background-image: url(https://sl3ep.neocities.org/Images/Background2.jpg);
}

.TITLE {
  margin:auto;
  background-color: black;
}

/* buttons for the other pages grid*/
.ButtonBottomSection{
  
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 30px;
  
  justify-content: center;
  border-style: solid;
  border-width: 100px;
  border-image: url(https://sl3ep.neocities.org/Images/divBorder3.png) 600 repeat;
  border-image-outset: 1rem;
  border-image-slice: 15%;;
  margin: auto;
  width: 85%;
  background-color: #090f36;
  font-size: 15px;

  
}
.ButtonBottomSection div{
  /*background-color: #bfceff;*/
  
  padding: 10px;
  font-size: 30px;
  color: black;
  text-align: center;
}

.FriendsLinking div {
 background-color: #393250;

}
 .WebButtons{
   background-color: #393250;
   padding: 20px 50px;
   display: inline-block;
   cursor: pointer;
   font-family: "Garmond";
   font-size: 20px;
   
 }
/*end for buttons for the other pages grid*/

.HangingLeaves {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
}
.NORMALdiv{
  
  border-width: 3px;
  padding: 20px;
  width: 75%;
  margin: auto;
}

.WallBorderTop {
  position: fixed;
  top: 0%;
  right: 0%;
  
}


.WallBorderBottom {

  transform: scale(-1, -1);
  
  position: fixed;
  bottom: 0%;
  left: 0%;
  
}